/* You can add global styles to this file, and also import other style files */

@use 'tokens';
@use 'primitives';
@use 'forms';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
